{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "prettier", "prettier/react"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "allowImportExportEverywhere": false,
        "codeFrame": false

    },
    "plugins": [
        "prettier", "flowtype"
    ],
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "prettier/prettier": ["error",
            {
                "printWidth": 100,
                "parser": "flow",
                "useTabs": false,
                "singleQuote": true,
                "semi": false,
                "tabWidth": 3
            }
        ],
        "no-console": 0
    }
}