{
	"parser": "babel-eslint",
	"extends": [

		"airbnb",
		"prettier",
		"prettier/react",
		"plugin:react/recommended"

	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}

	},
	"plugins": [

		"prettier"
	],
	"env": {
		"node": true,
		"browser": true,
		"es6": true,
		"jest": true
	},
	"rules": {

		"prettier/prettier": ["error",
			{
				"printWidth": 100,
				"parser": "flow",
				"useTabs": false,
				"singleQuote": true,
				"semi": false,
				"tabWidth": 3
			}
		],
		"no-console": 0
	}
}